body {
  background: #EFEFEF;
}

/* Navbar */
.navbar {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav>li>a,
.navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #2B3A42;
  border-color: #3F5765;
}

.navbar-default .navbar-brand {
  color: #BDD4DE;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #BDD4DE;
}

.navbar-default .navbar-text {
  color: #BDD4DE;
}

.navbar-default .navbar-nav>li>a {
  color: #BDD4DE;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #BDD4DE;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #BDD4DE;
  background-color: #3F5765;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #BDD4DE;
  background-color: #3F5765;
}

.navbar-default .navbar-toggle {
  border-color: #3F5765;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3F5765;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #BDD4DE;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #BDD4DE;
}

.navbar-default .navbar-link {
  color: #BDD4DE;
}

.navbar-default .navbar-link:hover {
  color: #BDD4DE;
}

/* Custom */
.main-color-bg {
  background-color: #3F5765 !important;
  border-color: #3F5765 !important;
  color: #ffffff !important;
}

/* Header */
#header {
  background: #3F5765;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create {
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb {
  background: #cccccc;
  color: #3F5765;
}

.breadcrumb a {
  color: #3F5765;
}

/* Progress Bars */
.progress-bar {
  background: #3F5765;
  color: #ffffff;
}

.dash-box {
  text-align: center;
}

#login {
  margin-top: 30px;
}

/* Footer */
#footer {
  background: #3F5765;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #BDD4DE;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #BDD4DE;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #BDD4DE;
    background-color: #3F5765;
  }
}