* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #111;
}

#cnv {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    box-sizing: border-box;
    display: block;
    background: #A8A8A8;
}

#controls {
    background: #111;
    width: 352px;
    height: 64px;
    box-sizing: border-box;
}

#controls div {
    width: 176px;
    float: left;
    background: red;
    height: 100%;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    box-sizing: border-box;
    font-size: 45px;
}

#leftButton {
    border-radius: 0px 0px 0px 20px;
}

#rightButton {
    border-radius: 0px 0px 20px 0px;
}